<div class="m-3">
    <img src="/assets/images/logo_etech.png" width="50px" alt="" srcset="">
        <h4>Menu เมนูหลัก</h4>
        <hr>
</div>
<nav class="navbar navbar-expand-lg m-2">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="/Admin/Home"><i class="fa fa-home"></i> หน้าหลัก</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/AddCertPage">เพิ่มเกียรติบัตร</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">ประวัติการดาวน์โหลด</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" onclick="logout()">ออกจากระบบ</a>
      </li>
    </ul>
    </div>
</nav>
<hr>