
  <nav class="navbar bg-body-tertiary  bg-light shadow fixed-top">
    <div class="container-fluid">
      <h3 class="text-dark"><label class="text-dark">E-CERT</label> | วิทยาลัยเทคโนโลยีภาคตะวันออก E-TECH</h3>
      <form class="d-flex" role="search">
        <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button> -->
        <label for=""><i class="fas fa-user-tie"></i> Kiatti Si</label>
      </form>
    </div>
  </nav>

  <br><br><br>