<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap" rel="stylesheet">
    <style>
        .rounded-input {
          border-radius: 20px; /* Adjust the value to change the amount of rounding */
        }
    </style>  
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script src="/js/student/script.js"></script>
  </head>
  <body style="font-family: 'Prompt', sans-serif;">
    <nav class="navbar bg-secondary shadow">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <!-- <img src="/assets/images/logo_etech.png" alt="Logo" width="50" class="d-inline-block align-text-top">
            Bootstrap -->
            <center>
                <h3 class="text-light">วิทยาลัยเทคโนโลยีภาคตะวันออก E-TECH</h3>
            </center>
          </a>
        </div>
      </nav>
    <br>
    <div class="container">
        <div class="card border-warning mb-3">
            <div class="card-header">E-CERT</div>
            <div class="card-body text-primary">
                <input type="text" class="form-control rounded-input" id="std_code" placeholder="กรอกรหัสนักศึกษา">
                <br>
                <center>
                    <button id="btn_search" class="btn btn-lg btn-warning rounded-input">ตรวจสอบ</button>
                </center>
            </div>
          </div>
          <h4 style="text-align: center;">พบ 1 รายการ</h4>
          <div class="card mb-3">
            <div class="card-header">Certificate</div>
            <div class="card-body text-primary">
               <h5>การอบรบการพัฒนาเว็บไซต์ด้วย React</h5>
               <center>
                <button class="btn btn-lg btn-outline-primary rounded-input" onclick="show_confirm_mail()">ดาวน์โหลด</button>
                </center>
            </div>
          </div>
    </div>

    <div class="modal fade" id="confirm_mail" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Verify Email</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Please Enter Email:
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">@</span>
                    <input type="text" class="form-control" placeholder="xxxx.xxxx@e-tech.ac.th" aria-label="Username" aria-describedby="basic-addon1">
                  </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Verify</button>
            </div>
            </div>
        </div>
        </div>

    <script>
        function show_confirm_mail(){

            $('#confirm_mail').modal('show')
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </body>
</html>